<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="white"/>

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="<%= getPrivateUrl('icon/favicon.ico') %>">
    <link rel="icon" type="image/svg+xml" href="<%= getPrivateUrl('icon/favicon.svg') %>" sizes="any">

    <!-- PWA manfiest file -->
    <link rel="manifest" href="<%= getUrl(name + '.manifest.json') %>">

    <!-- PWA iphone -->
    <link rel="apple-touch-icon" sizes="180x180" href="<%= getPrivateUrl('icon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= getPrivateUrl('icon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= getPrivateUrl('icon/favicon-16x16.png') %>">
    <link rel="mask-icon" href="<%= getPrivateUrl('icon/safari-pinned-tab.svg') %>" color="#e4154b">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">

    <!-- PWA Windows -->
    <meta name="msapplication-config" content="<%= getUrl(name + '.browserconfig.xml') %>">

    <!-- Loading spinner -->
    <script type="module">
        import {Spinner} from '<%= getPrivateUrl('spinner.js') %>';
        customElements.define('dbp-loading-spinner', Spinner);
    </script>

    <!-- App bundles-->
    <script type="module" src="<%= getUrl(name + '.js') %>"></script>

    <!-- Prevent Chrome/Edge from suggesting to translate the page -->
    <meta name="google" content="notranslate">

    <!-- Font related CSS -->
    <style>
        @import "<%= getPrivateUrl('fonts/source-sans-pro/300.css') %>";
        @import "<%= getPrivateUrl('fonts/source-sans-pro/400.css') %>";
        @import "<%= getPrivateUrl('fonts/source-sans-pro/600.css') %>";

        body {
            font-family: 'Source Sans Pro', 'Calibri', 'Arial', 'sans-serif';
            font-weight: 300;
            margin: 0;
        }

        /* TU-Graz style override */
        html {
            --dbp-override-primary-bg-color: #245b78;
            --dbp-override-primary-button-border: solid 1px #245b78;
            --dbp-override-info-bg-color: #245b78;
            --dbp-override-danger-bg-color: #e4154b;
            --dbp-override-warning-bg-color: #ffe183;
            --dbp-override-warning-text-color: black;
            --dbp-override-success-bg-color: #259207;
        }
    </style>

    <!-- Preloading/Preconnecting -->
    <link rel="preconnect" href="<%= entryPointURL %>">
    <link rel="preconnect" href="<%= keyCloakBaseURL %>">
    <script type="module" src="<%= keyCloakBaseURL %>/js/keycloak.min.js"></script>
</head>

<body>
<<%= name %>
    provider-root
    lang="de" entry-point-url="<%= entryPointURL %>"
    search-hash-string="<%= searchQRString %>"
    gp-search-hash-string="<%= gpSearchQRString %>"
    src="<%= getUrl(name + '.topic.metadata.json') %>"
    base-path="<%= getUrl('') %>"
    keycloak-config='{"url": "<%= keyCloakBaseURL %>", "realm": "tugraz", "clientId": "<%= keyCloakClientId %>", "silentCheckSsoRedirectUri": "<%= getUrl('silent-check-sso.html') %>", "forceLogin": "true"}'
    git-info='<%= buildInfo.info %>'
    build-url='<%= buildInfo.url %>'
    build-time='<%= buildInfo.time %>'
    env='<%= buildInfo.env %>'
    matomo-url="<%= matomoUrl %>"
    matomo-site-id="<%= matomoSiteId %>"
    no-welcome-page
    html-overrides="global-override"
><dbp-loading-spinner></dbp-loading-spinner>
<template slot="name">
    TU Graz<br />
    <dbp-translated subscribe="lang">
        <div slot="de">
            Technische Universität Graz
        </div>
        <div slot="en">
            Graz University of Technology
        </div>
    </dbp-translated>
</template>
<template slot="logo">
    <style>
        #main-logo {
            padding: 0 50px 0 0;
        }
    </style>
    <dbp-tugraz-logo id="main-logo" subscribe="lang"></dbp-tugraz-logo>
</template>
<template slot="footer-links">
    <style>
        .footer-links {
            margin-top: 0.5em;
        }

        .footer-links a {
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            padding: 0;
            margin-left: 1em;
            transition: background-color 0.15s ease 0s, color 0.15s ease 0s;
            color: #6c757d;
            cursor: pointer;
            text-decoration: none;
        }

        .footer-links a:hover {
            color: #fff;
            background-color: #000;
        }
    </style>
    <dbp-translated subscribe="lang">
        <div slot="de" class="footer-links">
            <a target="_blank" rel="noopener" href="https://www.tugraz.at/ueber-diese-seite/datenschutzerklaerung/">Datenschutz</a>
            <a target="_blank" rel="noopener" href="https://www.tugraz.at/ueber-diese-seite/impressum/">Impressum</a>
            <a rel="noopener" href="mailto:it-support@tugraz.at">Kontakt</a>
        </div>
        <div slot="en" class="footer-links">
            <a target="_blank" rel="noopener" href="https://www.tugraz.at/en/about-this-page/privacy-policy/">Privacy Policy</a>
            <a target="_blank" rel="noopener" href="https://www.tugraz.at/en/about-this-page/legal-notice/">Legal Notice</a>
            <a rel="noopener" href="mailto:it-support@tugraz.at">Contact</a>
        </div>
    </dbp-translated>
</template>
</<%= name %>>

<template id="global-override">
    <template id="dbp-report-risk">
        <div slot="additional-information">
            <style>
                .int-link-external{
                    transition: background-color 0.15s, color 0.15s;
                    border-bottom: 1px solid rgba(0,0,0,0.3);
                }

                .int-link-external:hover{
                    background-color: black;
                    color: white;
                }

                .int-link-external:after{
                    content: "\00a0\00a0\00a0";
                    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%228.6836mm%22%20width%3D%225.2043mm%22%20version%3D%221.1%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20viewBox%3D%220%200%2018.440707%2030.768605%22%3E%3Cg%20transform%3D%22translate(-382.21%20-336.98)%22%3E%3Cpath%20style%3D%22stroke-linejoin%3Around%3Bstroke%3A%23000%3Bstroke-linecap%3Around%3Bstroke-miterlimit%3A10%3Bstroke-width%3A2%3Bfill%3Anone%22%20d%3D%22m383.22%20366.74%2016.43-14.38-16.43-14.37%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                    background-size: 73%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    margin: 0 0 0 3px;
                    padding: 0 0 0.25% 0;
                    animation: 0.15s linkIconOut;
                    font-size: 103%;
                }

                .int-link-external:hover::after{
                    content: "\00a0\00a0\00a0";
                    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%228.6836mm%22%20width%3D%225.2043mm%22%20version%3D%221.1%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20viewBox%3D%220%200%2018.440707%2030.768605%22%3E%3Cg%20transform%3D%22translate(-382.21%20-336.98)%22%3E%3Cpath%20style%3D%22stroke-linejoin%3Around%3Bstroke%3A%23FFF%3Bstroke-linecap%3Around%3Bstroke-miterlimit%3A10%3Bstroke-width%3A2%3Bfill%3Anone%22%20d%3D%22m383.22%20366.74%2016.43-14.38-16.43-14.37%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                    background-size: 73%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    margin: 0 0 0 3px;
                    padding: 0 0 0.25% 0;
                    animation: 0s linkIconIn;
                    font-size: 103%;
                }

                .int-email-external{
                    transition: background-color 0.15s, color 0.15s;
                    border-bottom: 1px solid rgba(0,0,0,0.3);
                }

                .int-email-external:hover{
                    background-color: black;
                    color: white;
                }
            </style>
            <dbp-translated subscribe="lang">
                <div slot="de">
                    Sollten Sie als COVID-19-Verdachts- oder -Erkrankungsfall gelten, melden Sie sich bitte umgehend bei
                    <a target="_blank" rel="noopener" href="mailto:coronameldung@tugraz.at" class="int-email-external"><span>coronameldung@tugraz.at</span></a>!
                    <br /><br />
                    Weitere Informationen über die aktuell geltenden Bestimmungen an der TU Graz erhalten Sie unter
                    <a target="_blank" rel="noopener" href="https://www.tugraz.at/go/coronavirus" class="int-link-external"><span>www.tugraz.at/go/coronavirus</span></a>.
                </div>
                <div slot="en">
                    If you are a suspected COVID-19 case or a case of illness, please report this immediately to
                    <a target="_blank" rel="noopener" href="mailto:coronameldung@tugraz.at" class="int-email-external"><span>coronameldung@tugraz.at</span></a>!
                    <br /><br />
                    For more information about the currently valid regulations at Graz University of Technology, please visit
                    <a target="_blank" rel="noopener" href="https://www.tugraz.at/go/coronavirus" class="int-link-external"><span>www.tugraz.at/go/coronavirus</span></a>.
                </div>
            </dbp-translated>
        </div>
    </template>
    <template id="dbp-check-in-request">
        <div slot="additional-information">
            <style>
                .int-link-external{
                    transition: background-color 0.15s, color 0.15s;
                    border-bottom: 1px solid rgba(0,0,0,0.3);
                }

                .int-link-external:hover{
                    background-color: black;
                    color: white;
                }

                .int-link-external:after{
                    content: "\00a0\00a0\00a0";
                    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%228.6836mm%22%20width%3D%225.2043mm%22%20version%3D%221.1%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20viewBox%3D%220%200%2018.440707%2030.768605%22%3E%3Cg%20transform%3D%22translate(-382.21%20-336.98)%22%3E%3Cpath%20style%3D%22stroke-linejoin%3Around%3Bstroke%3A%23000%3Bstroke-linecap%3Around%3Bstroke-miterlimit%3A10%3Bstroke-width%3A2%3Bfill%3Anone%22%20d%3D%22m383.22%20366.74%2016.43-14.38-16.43-14.37%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                    background-size: 73%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    margin: 0 0 0 3px;
                    padding: 0 0 0.25% 0;
                    animation: 0.15s linkIconOut;
                    font-size: 103%;
                }

                .int-link-external:hover::after{
                    content: "\00a0\00a0\00a0";
                    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%228.6836mm%22%20width%3D%225.2043mm%22%20version%3D%221.1%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20viewBox%3D%220%200%2018.440707%2030.768605%22%3E%3Cg%20transform%3D%22translate(-382.21%20-336.98)%22%3E%3Cpath%20style%3D%22stroke-linejoin%3Around%3Bstroke%3A%23FFF%3Bstroke-linecap%3Around%3Bstroke-miterlimit%3A10%3Bstroke-width%3A2%3Bfill%3Anone%22%20d%3D%22m383.22%20366.74%2016.43-14.38-16.43-14.37%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                    background-size: 73%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    margin: 0 0 0 3px;
                    padding: 0 0 0.25% 0;
                    animation: 0s linkIconIn;
                    font-size: 103%;
                }

                .int-email-external{
                    transition: background-color 0.15s, color 0.15s;
                    border-bottom: 1px solid rgba(0,0,0,0.3);
                }

                .int-email-external:hover{
                    background-color: black;
                    color: white;
                }
            </style>
            <dbp-translated subscribe="lang">
                <div slot="de">
                    Sollten Sie als COVID-19-Verdachts- oder -Erkrankungsfall gelten, melden Sie sich bitte umgehend bei
                    <a target="_blank" rel="noopener" href="mailto:coronameldung@tugraz.at" class="int-email-external"><span>coronameldung@tugraz.at</span></a>!
                    <br /><br />
                    Weitere Informationen über die aktuell geltenden Bestimmungen an der TU Graz erhalten Sie unter
                    <a target="_blank" rel="noopener" href="https://www.tugraz.at/go/coronavirus" class="int-link-external"><span>www.tugraz.at/go/coronavirus</span></a>.
                </div>
                <div slot="en">
                    If you are a suspected COVID-19 case or a case of illness, please report this immediately to
                    <a target="_blank" rel="noopener" href="mailto:coronameldung@tugraz.at" class="int-email-external"><span>coronameldung@tugraz.at</span></a>!
                    <br /><br />
                    For more information about the currently valid regulations at Graz University of Technology, please visit
                    <a target="_blank" rel="noopener" href="https://www.tugraz.at/go/coronavirus" class="int-link-external"><span>www.tugraz.at/go/coronavirus</span></a>.
                </div>
            </dbp-translated>
        </div>
    </template>
</template>

<!-- Error handling for too old browsers -->
<script src="<%= getPrivateUrl('browser-check.js') %>" defer></script>
<noscript>Diese Applikation benötigt Javascript / This application requires Javascript</noscript>
</body>
</html>